<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Customer Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Customer ID</th>  
        <th>First Name</th>  
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Occupation</th>
        <th>Date of Birth</th>
        <th>Address</th>    
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for branch in branches %}  
    <tr>  
        <td>{{ branch.id }}</td>  
        <td>{{ branch.bname }}</td>  
        <td>{{ branch.bcity }}</td>   
        <td>  
            <a href="/edit/{{ branch.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ branch.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/cus" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  