<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Account Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>  
</head>  
<body>
<center>
<br>  
<a href="/" class="btn btn-success">Customer</a>  
<a href="/branch" class="btn btn-success">Branch</a>
<a href="/account" class="btn btn-success">Account</a>  
<br><br>     
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th style="text-align: center;" >Account ID</th>  
        <th style="text-align: center;" >Customer ID</th> 
        <th style="text-align: center;" >Customer Name</th>  
        <th style="text-align: center;" >Branch Name</th>
        <th style="text-align: center;" >Balance</th>
        <th style="text-align: center;" >Opening Date</th>
        <th style="text-align: center;" >Account Type</th>
        <th style="text-align: center;" >Cards</th>    
        <th style="text-align: center;" >Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for account in accounts %}  
    <tr>  
        <td>{{ account.id }}</td> 
        <td>{{ account.cid.id }}</td>
        <td>{{ account.cid.cfname }} {{ account.cid.cmname }} {{ account.cid.clname }}</td>  
        <td>{{ account.bid.bname }}</td>
        <td>{{ account.balance }}</td>
        <td>{{ account.open_date }}</td>
        <td>{{ account.account_type }}</td>
        <td> {% for i in account.cards %}
                {{ i }} <br>
            {% endfor %}
        </td>   
        <td>  
            <!-- <a href="/a_edit/{{ account.id }}" class="btn btn-info">Edit</a> !-->  
            <a href="/a_delete/{{ account.id }}" class="btn btn-danger">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<a href="/account/acc" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  