<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %} 
     
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}"/>   
</head>  
<body>
<center>    
<br>  
<a href="/" class="btn btn-success">Customer</a>  
<a href="/branch" class="btn btn-success">Branch</a>
<a href="/account" class="btn btn-success">Account</a>  
<br><br>
<div>  
    <form method="POST" class="post-form" action="/branc">  
            {% csrf_token %}  
        <div class="container" style="border: 1px solid #DDDDDD; border-radius: 10px; width:500px; background: #F9F9F9">  
            <br>  
        <div class="form-group row">  
        <label ></label>  
        <div >  
        <h1>Enter Details</h1>  
        </div>    
    <div class="form-group row">  
        <h3><label >Branch Name:</label></h3> 
        <div >  
        {{ form.bname }}  
        </div>  
    </div>  
        <div class="form-group row">  
        <h3><label >Branch City:</label></h3>  
        <div >  
        {{ form.bcity }}  
        </div>  
    </div>  
        <div class="form-group row">  
        <label ></label>  
        <div >  
        <button type="submit" class="btn btn-primary">Add Branch</button>  
        </div>  
    </div>  
        </div>
    </center>  
    </form> 
</div> 
</body>  
</html>