<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Branch Records</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Branch ID</th>  
        <th>Branch Name</th>  
        <th>Branch City</th>    
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for branch in branches %}  
    <tr>  
        <td>{{ branch.id }}</td>  
        <td>{{ branch.bname }}</td>  
        <td>{{ branch.bcity }}</td>   
        <td>  
            <a href="/edit/{{ branch.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ branch.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/branch" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  